<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Bigoh{% endblock %}</title>
  <link rel="icon" type="image/jpeg" href="{{ url_for('static', filename='images/favicon.jpeg') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;600&family=Sora:wght@400;500;600;700&family=Space+Grotesk:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link href="../static/files/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../static/files/css/theme.css">
  <link rel="stylesheet" href="../static/files/css/style.css">
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4nHCqB6f+GO6zkRgZNpmj12xg=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
  {% block extra_head %}{% endblock %}
</head>
<body>
  {% block navbar %}{% include 'navbar.html' %}{% endblock %}
  {% block content %}{% endblock %}
  {% block footer %}{% include 'footer.html' %}{% endblock %}

  <script src="../static/files/js/bootstrap.bundle.min.js"></script>
  {% block extra_scripts %}{% endblock %}
</body>
</html>
